/*the css for the close_button.png, potisition to the top right of the dialog window*/
#close_button{
position:absolute;
top:0;
right:0;
}

/*the css for the dialog popup*/
#myDialog_popup{
position:absolute;
float: right;
margin-right: 0;
right:0;
margin-top: -250px;
width: 250px;
z-index: 100;
border: 1px solid black;
-webkit-animation: FromDownToUp 3s;
-moz-animation: FromDownToUp 3s;
-o-animation: FromDownToUp 3s;
animation: FromDownToUp 3s;
}
@-webkit-keyframes FromDownToUp {
from { transform: translateX(100px);}
to { transform: translateX(0px);}
}
@-moz-keyframes FromDownToUp {
from { transform: translateX(100px);}
to { transform: translateX(0px);}
}
@-o-keyframes FromDownToUp {
from { transform: translateX(100px);}
to { transform: translateX(0px);}
}
@keyframes FromDownToUp {
from { transform: translateX(100px);}
to { transform: translateX(0px);}
}